body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#title {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 36px;
}

#board {
    margin: 0 auto;
    margin-top: 4px;
    width: 350px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Single Tile Skeleton */
    height: 60px;
    width: 60px;
    margin: 2.5px;
    border: 2px solid lightgrey;
    

    /* Single Tile Text */
    font-size: 36px;
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    font-weight: bold;
}

.correctLetter {
    color: white;
    border-color: white;
    background-color: #6AAA64;
}

.presentInWordLetter {
    color: white;
    border-color: white;
    background-color: #C9B458;
}

.incorrectLetter {
    color: white;
    border-color: white;
    background-color: #787C7E;
}

.key-tile {
     /* Single Tile Skeleton */
    width: 36px;
    margin: 1px;
    border: 1px solid lightgray;
    height: 40px;
    
    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
   
}

.keyboard-row {
    /* Row Skeleton */
    margin: 0 auto;
    flex-wrap: wrap;
    width: 400px;
    display: flex;  
}


.enter-key-tile {
     /* Single Tile Enter Key Skeleton */
    margin: 1px;
    border: 1px solid lightgray;
    width: 76px;
    height: 40px;
    
    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    
}